*.class
lyngcrbackoffice_bof.jar
*.xsd
*testclasses.xml
.DS_Store
.checkstyle
.externalToolBuilders
.metadata
.pmd
.txt
.ruleset
.springBeans
.settings
gensrc/
*.log

/**/build.xml
/**/classes/
/**/eclipsebin/


/**/hybris/bin/**/build.xml
/**/hybris/bin/**/ruleset.xml
/**/hybris/bin/**/classes/
/**/hybris/bin/**/extensioninfo.xsd
/**/hybris/bin/**/gensrc/
/**/hybris/bin/**/hmc/bin/
/**/hybris/bin/**/hmc/resources/hmc.xsd
/**/hybris/bin/**/platformhome.properties
/**/hybris/bin/**/resources/beans.xsd
/**/hybris/bin/**/resources/items.xsd
/**/hybris/bin/**/resources/**/*-testclasses.xml
/**/hybris/bin/**/resources/**/*-webtestclasses.xml
/**/hybris/bin/**/src/**/jalo/
/**/hybris/config/solr/
/**/hybris/config/local.properties
/**/hybris/config/licence/installedSaplicenses.properties
/**/hybris/config/buildversion.txt

/personalizationtrail/gensrc/
/personalizationtrail/resources/beans.xsd
/personalizationtrail/resources/items.xsd
/training/trainingcockpits/gensrc/

/training/trainingcore/resources/items.xsd

/training/trainingfacades/gensrc/
/training/trainingfacades/resources/beans.xsd

/training/trainingfulfilmentprocess/gensrc/
/training/trainingfulfilmentprocess/resources/items.xsd

/training/traininginitialdata/gensrc/

/training/trainingrules/build.xml
/training/trainingrules/extensioninfo.xsd
/training/trainingrules/gensrc/
/training/trainingrules/platformhome.properties
/training/trainingrules/resources/beans.xsd
/training/trainingrules/resources/items.xsd
/training/trainingrules/src/de/hybris/platform/promotionengineservices/jalo/*.java

/training/trainingstorefront/resources/beans.xsd
/training/trainingstorefront/web/webroot/_ui/responsive/theme-alpha/css/style.css
/training/trainingstorefront/web/webroot/_ui/responsive/theme-lambda/css/style.css
/training/trainingstorefront/web/webroot/cmscockpit/
/training/trainingstorefront/web/webroot/cockpit/baseEditorArea.zul
/training/trainingstorefront/web/webroot/cockpit/basePerspective.zul
/training/trainingstorefront/web/webroot/cockpit/baseSearchBrowserArea.zul
/training/trainingstorefront/web/webroot/cockpit/commonCSA.zul
/training/trainingstorefront/web/webroot/cockpit/css/
/training/trainingstorefront/web/webroot/cockpit/customcomponents/
/training/trainingstorefront/web/webroot/cockpit/dialog/loginDialog.zul
/training/trainingstorefront/web/webroot/cockpit/fonts/
/training/trainingstorefront/web/webroot/cockpit/left_section_header.zul
/training/trainingstorefront/web/webroot/cockpit/spellerpages/server-scripts/spellchecker.jsp
/training/trainingstorefront/web/webroot/cockpit/wizards/

/training/trainingtest/gensrc/


/training/trainingstorefront/resources/wro_addons.xml
/training/trainingstorefront/web/addonsrc/
/training/trainingstorefront/web/commonwebsrc/
/training/trainingstorefront/web/webroot/WEB-INF/_ui-src/addons/commerceorgsamplesaddon/responsive/less/commerceorgsamplesaddon.less
/training/trainingstorefront/web/webroot/WEB-INF/_ui-src/addons/customerticketingaddon/responsive/less/customerticketingaddon.less
/training/trainingstorefront/web/webroot/WEB-INF/_ui-src/addons/orderselfserviceaddon/responsive/less/orderselfserviceaddon.less
/training/trainingstorefront/web/webroot/WEB-INF/_ui-src/addons/textfieldconfiguratortemplateaddon/responsive/less/textfieldconfiguratortemplateaddon.less
/training/trainingstorefront/web/webroot/WEB-INF/messages/
/training/trainingstorefront/web/webroot/WEB-INF/tags/
/training/trainingstorefront/web/webroot/WEB-INF/tld/addons/
/training/trainingstorefront/web/webroot/_ui/addons/


/personalizationtrail/platformhome.properties
/training/trainingcockpits/platformhome.properties
/training/trainingcore/platformhome.properties
/training/trainingfacades/platformhome.properties
/training/trainingfulfilmentprocess/platformhome.properties
/training/traininginitialdata/platformhome.properties
/training/trainingstorefront/platformhome.properties
/training/trainingstorefront/web/webroot/WEB-INF/views/addons/
/training/trainingtest/platformhome.properties

/training/trainingstorefront/web/webroot/cmscockpit/welcome/welcome.zul

/training/trainingbackoffice/gensrc/

/training/trainingbackoffice/backoffice/classes/rebel.xml
/training/trainingbackoffice/resources/backoffice/trainingbackoffice_bof.jar
/training/trainingbackoffice/resources/beans.xsd
/training/trainingbackoffice/resources/items.xsd
/training/trainingbackoffice/platformhome.properties

/smarteditpersonalizationservices/ruleset.xml
/smarteditpersonalizationservices/platformhome.properties





/lynxahk/lynxahkfacade/web/addonsrc/
/lynxahk/lynxahkfacade/web/commonwebsrc/acceleratorstorefrontcommons/
/lynxahk/lynxahkfacade/web/webroot/WEB-INF/_ui-src/
/lynxahk/lynxahkfacade/web/webroot/WEB-INF/messages/
/lynxahk/lynxahkfacade/web/webroot/WEB-INF/tags/
/lynxahk/lynxahkfacade/web/webroot/WEB-INF/tld/
/lynxahk/lynxahkfacade/web/webroot/WEB-INF/views/
/lynxahk/lynxahkfacade/web/webroot/_ui/
